In [1]:
some_text = "Python is very easy and efficent language."

In [2]:
len(some_text)

42

In [4]:
some_text[10:14+1]

'very '

In [5]:
some_text[0]

'P'

In [6]:
some_text[26]

'f'

In [9]:
some_text[11:20+1:2]

'eyes '

In [14]:
some_text[::-2]

'.gunlteif n seye inhy'

In [24]:
some_text[-1:-(len(some_text)+1):-1]

'.egaugnal tneciffe dna ysae yrev si nohtyP'

In [25]:
some_text[0] = 'p'

TypeError: 'str' object does not support item assignment

In [26]:
some_text.count("e") # ==> 해당 글자와 일치하는 것의 갯수

5

In [27]:
some_text.find("i") # ==> 해당 글자의 위치

7

In [28]:
comma = ","

In [29]:
new_some_text = comma.join(some_text)
new_some_text

'P,y,t,h,o,n, ,i,s, ,v,e,r,y, ,e,a,s,y, ,a,n,d, ,e,f,f,i,c,e,n,t, ,l,a,n,g,u,a,g,e,.'

In [30]:
new_some_text.split(',')

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'i',
 's',
 ' ',
 'v',
 'e',
 'r',
 'y',
 ' ',
 'e',
 'a',
 's',
 'y',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'e',
 'f',
 'f',
 'i',
 'c',
 'e',
 'n',
 't',
 ' ',
 'l',
 'a',
 'n',
 'g',
 'u',
 'a',
 'g',
 'e',
 '.']

In [32]:
# 1. 공백을 기준으로 split
# 2. 'and'를 기준으로 split
some_text.split()

['Python', 'is', 'very', 'easy', 'and', 'efficent', 'language.']

In [33]:
some_text.split('and')

['Python is very easy ', ' efficent language.']

In [34]:
crawled_text = "a \n b \n c \n"
crawled_text.split('\n')

['a ', ' b ', ' c ', '']

In [36]:
some_text.replace('Python', 'javaScript')

'javaScript is very easy and efficent language.'

In [37]:
some_text

'Python is very easy and efficent language.'

In [39]:
text_to_be_stripped = "                 a \n b \n             "

In [40]:
text_to_be_stripped.strip()

'a \n b'

In [41]:
text_to_be_stripped = "     ,,,...a \n b \n,,,...      "

In [42]:
text_to_be_stripped.strip(',. ')

'a \n b \n'

In [47]:
# 최종 결과물: ['a', 'b'] hint: replace, split
text_to_be_stripped.strip(',. ').replace(' \n', '').split()

['a', 'b']

## String Formatting

In [ ]:
"야생의 피카츄(이)가 나타났다!!"
"효과는 강력했다. 10 의 데미지를 입었따."

In [48]:
script = "야생의 피카츄(이)가 나타났다."

In [49]:
script

'야생의 피카츄(이)가 나타났다.'

In [52]:
monster = '쥬벳'
script = "야생의 {}(이)가 나타났다.".format(monster)
script

'야생의 쥬벳(이)가 나타났다.'

In [53]:
name = input("What's your name? ")
script = "{} 님은 바보로 판정되었습니다.".format(name)
script

What's your name? 김패캠

'김패캠 님은 바보로 판정되었습니다.'

In [61]:
print("a","b","c", sep="blahblah")
print("a", end='\t')
print("b", end='blahblah')

ablahblahbblahblahc
a	bblahblah

In [64]:
pen = "pen"
fruit = "apple"
print("I have a {1}, I have a(an) {0}.".format(pen, fruit))

I have a apple, I have a(an) pen.

## list, tuple

In [65]:
some_num = 1
some_text = "Hi"

In [68]:
nums = [1,2,3,4,5]

In [69]:
texts = ["Hi", "hello"]

In [70]:
empty_list = []
empty_list

[]

In [71]:
empty_list.append("A")

In [72]:
empty_list

['A']

In [73]:
empty_list.append("B")
empty_list.append("C")

In [74]:
empty_list

['A', 'B', 'C']

In [75]:
empty_list.append("D","E")

TypeError: append() takes exactly one argument (2 given)

In [76]:
empty_list.append("D")
empty_list.append("E")
empty_list

['A', 'B', 'C', 'D', 'E']

In [77]:
filled_list = ["A","C","E","G"]
filled_list

['A', 'C', 'E', 'G']

In [78]:
filled_list.insert(1,"B")
filled_list

['A', 'B', 'C', 'E', 'G']

In [79]:
filled_list.insert(3, "D")
filled_list

['A', 'B', 'C', 'D', 'E', 'G']

In [80]:
filled_list.insert(5, "F")
filled_list

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [81]:
filled_list.remove("C")

In [82]:
filled_list

['A', 'B', 'D', 'E', 'F', 'G']

In [86]:
filled_list.remove(filled_list[1])

AttributeError: 'NoneType' object has no attribute 'remove'

In [87]:
filled_list

['A', 'E', 'F', 'G']

In [88]:
filled_list.pop(2)

'F'

In [89]:
monsters = ["피카츄","파이리", "꼬부기"]
monster = monsters.pop(2)
script = "야생의 {}(이)가 나타났다.".format(monster)
script

'야생의 꼬부기(이)가 나타났다.'

In [95]:
nums = [1, -82763, 3.14, 2.71828, -9.8, 100, -10000, 2735658]

In [91]:
nums.sort()

In [92]:
nums

[-82763, -10000, -9.8, 1, 2.71828, 3.14, 100, 2735658]

In [93]:
nums.reverse()

In [94]:
nums

[2735658, 100, 3.14, 2.71828, 1, -9.8, -10000, -82763]

In [96]:
nums

[1, -82763, 3.14, 2.71828, -9.8, 100, -10000, 2735658]

In [97]:
nums.sort(reverse=True)
nums

[2735658, 100, 3.14, 2.71828, 1, -9.8, -10000, -82763]

In [99]:
nums[2:4]

[3.14, 2.71828]

In [100]:
nums[2] = 3.1415
nums

[2735658, 100, 3.1415, 2.71828, 1, -9.8, -10000, -82763]

In [101]:
new_nums = nums + [2,3,4]

new_nums

[2735658, 100, 3.1415, 2.71828, 1, -9.8, -10000, -82763, 2, 3, 4]

In [102]:
new_nums.extend([7,8,9])
new_nums

[2735658, 100, 3.1415, 2.71828, 1, -9.8, -10000, -82763, 2, 3, 4, 7, 8, 9]

In [103]:
tuple1 = ()
tuple1.append(1)
tuple1

AttributeError: 'tuple' object has no attribute 'append'

In [104]:
tuple1[0] = 1

TypeError: 'tuple' object does not support item assignment

In [105]:
tuple1 = (1, 2, 3)

In [106]:
listed_tuple = list(tuple1)
listed_tuple

[1, 2, 3]

In [108]:
listed_tuple.append(5)
tuple1 = tuple(listed_tuple)
tuple1

(1, 2, 3, 5, 5)

In [109]:
x = 1
y = 100

In [110]:
x = y
y = x
print(x,y)

100 100

In [111]:
x = 1
y = 100

In [112]:
temp = x
x = y
y = temp
print(x,y)

100 1

In [113]:
x = 1
y = 100
(y,x) = (x,y)
print(x,y)

100 1

## dictionary, set

In [ ]:
# name, addr, call, mail
# 김패캠, 서울, 010, naver
# 박패캠, 부산, 020, gmail

In [114]:
user_data = {}
user_data["name"] = "김패캠"
user_data

{'name': '김패캠'}

In [115]:
user_data["addr"] = "서울"
user_data["call"] = "010"
user_data["mail"] = "naver"
user_data

{'name': '김패캠', 'addr': '서울', 'call': '010', 'mail': 'naver'}

In [118]:
del user_data['name']
user_data

{'addr': '서울', 'call': '010', 'mail': 'naver'}

In [120]:
some_list = [[1,2,3],[4,5,6],{'name':"김"}]
some_list

[[1, 2, 3], [4, 5, 6], {'name': '김'}]

In [121]:
user_data["score"] = {"국어":74, "수학":20, "영어":True, "과탐":[12,23,25,50]}
user_data

{'addr': '서울',
 'call': '010',
 'mail': 'naver',
 'score': {'국어': 74, '수학': 20, '영어': True, '과탐': [12, 23, 25, 50]}}

In [122]:
user_data.keys()

dict_keys(['addr', 'call', 'mail', 'score'])

In [128]:
user_data.values()

dict_values(['서울', '010', 'naver', {'국어': 74, '수학': 20, '영어': True, '과탐': [12, 23, 25, 50]}])

In [130]:
listed_dict = list(user_data.items())
listed_dict[1]

('call', '010')

In [ ]:
#A = "f a s t c a m p u s" => "f a s t c m p u"
#B = "p y t h o n" 

# 합집합 => "f a s t c m p u y h o n"
# 교집합 => "p t"
# 차집합 => "s f c u m a"
# 대칭차 => "f a s c m u y h o n"

In [131]:
set_a = set("fastcampus")
set_a

{'a', 'c', 'f', 'm', 'p', 's', 't', 'u'}

In [132]:
set_b = set("python")
set_b

{'h', 'n', 'o', 'p', 't', 'y'}

In [133]:
set_a | set_b

{'a', 'c', 'f', 'h', 'm', 'n', 'o', 'p', 's', 't', 'u', 'y'}

In [134]:
set_a & set_b

{'p', 't'}

In [135]:
set_a - set_b

{'a', 'c', 'f', 'm', 's', 'u'}

In [136]:
set_a ^ set_b

{'a', 'c', 'f', 'h', 'm', 'n', 'o', 's', 'u', 'y'}

In [137]:
ppap = ['pen', 'pine','apple','apple','pen']

In [139]:
set_ppap = list(set(ppap))
set_ppap

['pine', 'apple', 'pen']

## Conditional Statements(If-else statements)
### 조건문

In [ ]:
#if (condition):
#    command1
#    command2

In [145]:
status = "home"
rice = False
if status == "home":
    if rice == True:
        print("밥을 먹는다")
    else:
        print("굶는다.")
else:
    print("밖에서 먹는다")

굶는다.

In [146]:
status = "outside"
rice = False
cash = 110000
if status == "home":
    if rice == True:
        print("밥을 먹는다")
    else:
        print("굶는다.")
else:
    if cash > 100000:
        print("Go to Restaurant")

Go to Restaurant

In [148]:
status = "outside"
rice = False
cash = 90000
if status == "home":
    if rice == True:
        print("밥을 먹는다")
    else:
        print("굶는다.")
else:
    if cash > 100000:
        print("Go to Restaurant")
    else:
        print("Go to CVS")

Go to CVS

In [153]:
cash = 30000
if cash > 100000:
    print("Go to Restaurant")
else:
    if cash > 50000:
        print("Go to Go-gi-zip")
    else:
        print("Go to CVS")

Go to CVS

In [ ]:
cash = 30000
if cash > 100000:
    print("Go to Restaurant")
elif cash > 50000:
    print("Go to Go-gi-zip")
else:
    print("Go to CVS")

In [154]:
cash = 21000
if cash > 100000:
    print("Go to Restaurant")
elif cash > 50000:
    print("Go to Go-gi-zip")
elif cash > 20000:
    print("Go to Gim-Cheon")
else:
    print("Go to CVS")

Go to Gim-Cheon

## numguess

In [172]:
import random

answer = random.randint(1,100+1)
print(answer)

# ===================
# 1. 사용자 입력 => guess라는 변수에 할당한다.
guess = int(input("1부터 100 사이의 수를 입력하세요: "))

# 2. 정답과 비교하여,
if answer == guess:
    # 2-1. 맞을때, "오 천재시군요"를 출력한다.
    print("오 천재시군요^^")
    # 2-2. 틀릴때, "?? 뭐한거임?? 정답은 이것" 을 출력한다.
else:
    print("?? 뭐한거임? 정답은 {}".format(answer))

14
1부터 100 사이의 수를 입력하세요: 14
오 천재시군요^^

In [ ]:
# TODO:
# 1. 맞을때까지 반복한다
# 2. hi-low 추가
# 3. 횟수 제한
## 4. 점수제도
## 5. 코인제도

## Loops, Itrations
### 반복문

In [175]:
for _i in [1,2,3,4,5]:
    print(_i ** 2)

1
4
9
16
25

In [177]:
for _i in range(1,100+1):
    print(_i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [179]:
for _e in ["Fast", "Campus", "Fighting"]:
    print(_e)

Fast
Campus
Fighting

In [180]:
for _c in "Python is awesome language.":
    print(_c)

P
y
t
h
o
n

i
s

a
w
e
s
o
m
e

l
a
n
g
u
a
g
e
.

In [185]:
summed = 0
for _i in range(1, 10+1):
    summed = summed + _i
    print(summed, _i)
print(summed)

1 1
3 2
6 3
10 4
15 5
21 6
28 7
36 8
45 9
55 10
55

In [187]:
# numguess with for

import random

answer = random.randint(1,100+1)
print(answer)

# ===================

# 0. 5회 반복한다.
for _i in range(1,5+1):
    # 1. 사용자 입력 => guess라는 변수에 할당한다.
    guess = int(input("1부터 100 사이의 수를 입력하세요({}번째): ".format(_i)))
    # 2. 정답과 비교하여,
    if answer == guess:
        # 2-1. 맞을때, "오 천재시군요"를 출력한다.
        print("오 천재시군요^^")
        break
        # 2-2. 틀릴때, "?? 뭐한거임?? 정답은 이것" 을 출력한다.
    else:
        print("?? 뭐한거임? 정답은 {}".format(answer))

27
1부터 100 사이의 수를 입력하세요(1번째): 1
?? 뭐한거임? 정답은 27
1부터 100 사이의 수를 입력하세요(2번째): 27
오 천재시군요^^

## 숙제
1부터 100까지 정수에 대해서 반복 수행하는

- 3의 배수라면 "fizz"
- 5의 배수라면 "buzz"
- 15의 배수라면 "fizzbuzz"
- 나머지 모든 수는 그냥 그 수를 출력하는

코드블록을 생성하시오.