In [1]:
# + - * /
3+2

5

In [2]:
2-1

1

In [3]:
4*6

24

In [4]:
4/2

2.0

In [5]:
# // %
7 // 2

3

In [6]:
7 % 2

1

In [7]:
2 ** 5

32

In [8]:
# variable: 변할 수 있는 수
num1 = 1

In [9]:
num1

1

In [10]:
num2 = 3

In [11]:
num2

3

In [12]:
num1 + num2

4

In [13]:
num1 = num1 + num2

In [14]:
num1

4

In [15]:
num1 += num2
num1

7

In [16]:
3 4 *

SyntaxError: invalid syntax (<ipython-input-16-2c7565527dff>, line 1)

In [17]:
nmu1

NameError: name 'nmu1' is not defined

In [18]:
# Primitive Type
# 3 = > integer(정수)
# 3.0 => float(floating point, 실수)
# "Hello" => string(문자열) => "c" => character(글자)
# True, False => bool(boolean, 부울)

In [19]:
type(3)

int

In [20]:
type("3")

str

In [25]:
int("3") + 1

4

In [24]:
"3" + 3

TypeError: can only concatenate str (not "int") to str

In [26]:
number_3 = int("3")

In [27]:
number_3

3

In [28]:
str(3) + "hello"# => "3"

'3hello'

In [29]:
int("hello")

ValueError: invalid literal for int() with base 10: 'hello'

In [31]:
float("3.14") + 1

4.140000000000001

In [32]:
int(3.14)

3

In [33]:
int(2.71828)

2

In [34]:
# roundup = ceil, round = round, rounddown = floor
float(3)

3.0

In [35]:
print("hello world")

hello world

In [36]:
input()

안녕

'안녕'

In [45]:
name_ = input("이름을 입력하세요")
print('"Hello,'+ name_+'"')

이름을 입력하세요김패캠
"Hello,김패캠"

In [47]:
type(name_)

str

In [49]:
type(input())

3

str

In [53]:
age = int(input("나이를 입력하세요.(오로지 숫자만)"))
type(age)

나이를 입력하세요.(오로지 숫자만)19

int

In [54]:
korean_age = age + 1
korean_age

20

In [62]:
text = eval(input("아무거나 입력하세요:(제발 따옴표 붙여주신다면 감사)"))

아무거나 입력하세요:(제발 따옴표 붙여주신다면 감사)"Fastcampus"

In [63]:
type(text)

str

In [64]:
some_string = "python"

In [65]:
some_string[2]

't'

In [66]:
some_string[4] # 'o'

'o'

In [67]:
some_string[1:4]

'yth'

In [68]:
some_string[3:]

'hon'

In [70]:
some_string[:3]

'pyt'

In [71]:
some_string[::-1]

'nohtyp'

In [75]:
some_string[2:4:-1]

''

In [76]:
some_list = [1,2,3]

In [77]:
some_list[0] = 0
some_list

[0, 2, 3]

In [78]:
some_string[0] = "c"

TypeError: 'str' object does not support item assignment

In [79]:
some_string.replace("p", "c")

'cython'

In [80]:
ppap = "penpineappleapplepen".replace("p","c")
ppap

'cencineaccleacclecen'

In [83]:
ppap = "penpineappleapplepen"
ppap[:8] + "c" + ppap[9:]

'penpineacpleapplepen'

In [88]:
ppap.count("apple")

2

In [90]:
ppap.find("ea")

6

In [194]:
"Fastcampus".join("안녕하세요")

'안Fastcampus녕Fastcampus하Fastcampus세Fastcampus요'

In [93]:
",".join("Python is awesome!").split(",")

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'i',
 's',
 ' ',
 'a',
 'w',
 'e',
 's',
 'o',
 'm',
 'e',
 '!']

In [95]:
moonjang = "Python is awesome language!!!!"

In [99]:
result = ""
for str_ in moonjang.split():
    result += (str_ + " ")
result

'Python is awesome language!!!! '

In [104]:
say_hi = "   ...  !!    안녕하세요  ??  ,,,      "
say_hi.strip(" ,.!?")

'안녕하세요'

In [113]:
some_template = "I have a {2}, I have an {3}."
some_template

'I have a {2}, I have an {3}.'

In [114]:
some_template.format("pen", "apple","pineapple","pen")

'I have a pineapple, I have an pen.'

In [115]:
some_template.format("pineapple","pen")

IndexError: tuple index out of range

In [116]:
name_ = input("이름을 입력하세요")
print('"Hello, {}"'.format(name_))

이름을 입력하세요fastcampus
"Hello, fastcampus"

In [136]:
print('"Hello, {0:*<12}"'.format("fastcampus","FCKIM"))
print('"Hello, {0:_^12}"'.format("fastcampus","FCKIM"))
print('"Hello, {1:->12}"'.format("fastcampus","FCKIM"))

"Hello, fastcampus**"
"Hello, _fastcampus_"
"Hello, -------FCKIM"

In [141]:
print("ID: {0:*<9}".format("kimfacamp"[:6]))

ID: kimfac***

In [148]:
print(("ID: {0:*<"+str(len(name_))+"}").format(name_[:2]))

ID: fa********

# List, Tuple

In [149]:
fruits = "banana", "apple", "kiwi"

In [150]:
fruits

('banana', 'apple', 'kiwi')

In [151]:
animals = "giraffe", "dog", "cat"

In [152]:
animals

('giraffe', 'dog', 'cat')

In [153]:
animal_giraffe = "giraffe"
animal_dog = "dog"

In [155]:
animals[0]

'giraffe'

In [156]:
animals[1]

'dog'

In [157]:
some_list = [1,2,3,4,5]
some_tuple = (1,2,3,4,5)

In [158]:
some_list.append(6)

In [159]:
some_list

[1, 2, 3, 4, 5, 6]

In [160]:
some_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [165]:
print(some_tuple)
listed_tuple = list(some_tuple)

(1, 2, 3, 4, 5)

In [166]:
listed_tuple.append(6)
listed_tuple

[1, 2, 3, 4, 5, 6]

In [167]:
some_tuple = tuple(listed_tuple)
some_tuple

(1, 2, 3, 4, 5, 6)

In [169]:
lang_list = []
lang_list

[]

In [170]:
lang_list.append("python")

In [171]:
lang_list.append("java")

In [172]:
lang_list.append("cpp")

In [173]:
lang_list

['python', 'java', 'cpp']

In [174]:
lang_list.insert(1, "c")
lang_list

['python', 'c', 'java', 'cpp']

In [175]:
lang_list.remove("cpp")

In [176]:
lang_list

['python', 'c', 'java']

In [178]:
lang_list.index("c")

1

In [179]:
temp_data = lang_list.pop(1)
temp_data

'c'

In [184]:
lang_list.append("cpp")

In [186]:
lang_list.remove("cpp")

In [187]:
lang_list

['python', 'java', 'cpp', 'cpp', 'cpp']

In [189]:
lang_list.remove(lang_list[1])

In [188]:
lang_list[1]

'java'

In [190]:
lang_list

['python', 'cpp', 'cpp', 'cpp']

In [192]:
lang_list[2] = "golang"
lang_list

['python', 'cpp', 'golang', 'cpp']

In [227]:
list(set(lang_list))

['golang', 'cpp', 'python']

In [195]:
len("안녕하세요")

5

In [196]:
len([1,2,3,4])

4

In [198]:
some_numbers = [-1223, 
                3.14,
                0,
                -2.71828,
                10000000,
                -128391827398712,
                -172638,
               ]

In [200]:
some_numbers.sort()
some_numbers[::-1]

[10000000, 3.14, 0, -2.71828, -1223, -172638, -128391827398712]

In [201]:
some_numbers = [-1223, 
                3.14,
                0,
                -2.71828,
                10000000,
                -128391827398712,
                -172638,
               ]

In [202]:
some_numbers.sort(reverse=True)
some_numbers

[10000000, 3.14, 0, -2.71828, -1223, -172638, -128391827398712]

In [203]:
x = 1
y = -1
print(x,y)

1 -1

In [204]:
y = x
x = y
print(x,y)

1 1

In [205]:
x=1
y=-1

tmp = y
y = x
x = tmp
print(x,y)

-1 1

In [206]:
x = 1
y = -1

print(x,y)
(x,y) = (y,x)

print(x,y)

1 -1
-1 1

In [207]:
dict1 = {}

In [211]:
dict1["c"] = 4
dict1

{'a': 1, 'b': 2, 'c': 4}

In [212]:
dict1["c"]

4

In [213]:
# 성적표 : Korean, Math, English, Science [], SS [1,1,1,1], Ethics True or False
dict2 = {}

In [214]:
dict2["Korean"] = 10

In [215]:
dict2["Math"] = 80
dict2["English"] = 70
dict2["Science"] = [10,20,30,40]
dict2["SS"] = [0,0,0,0]
dict2["Ethics"] = True
dict2

{'Korean': 10,
 'Math': 80,
 'English': 70,
 'Science': [10, 20, 30, 40],
 'SS': [0, 0, 0, 0],
 'Ethics': True}

In [216]:
# 굉장히 중요한 del 사용법 
del dict2["SS"]
dict2

{'Korean': 10,
 'Math': 80,
 'English': 70,
 'Science': [10, 20, 30, 40],
 'Ethics': True}

In [217]:
important = 10

In [218]:
del important

In [219]:
important

NameError: name 'important' is not defined

In [220]:
dict2["Math"] = 70
dict2

{'Korean': 10,
 'Math': 70,
 'English': 70,
 'Science': [10, 20, 30, 40],
 'Ethics': True}

In [221]:
dict2.keys()

dict_keys(['Korean', 'Math', 'English', 'Science', 'Ethics'])

In [222]:
dict2.values()

dict_values([10, 70, 70, [10, 20, 30, 40], True])

In [225]:
list(zip(dict2.keys(), dict2.values())) # 이렇게 하시면 안됩니다.

[('Korean', 10),
 ('Math', 70),
 ('English', 70),
 ('Science', [10, 20, 30, 40]),
 ('Ethics', True)]

In [223]:
dict2.items() # 이렇게 하셔야 합니다.

dict_items([('Korean', 10), ('Math', 70), ('English', 70), ('Science', [10, 20, 30, 40]), ('Ethics', True)])

In [229]:
list(set(["a","a","a","a","a","a","a",]))

['a']

In [231]:
set([1.0,1])

{1.0}

In [232]:
set_a = set("fastcampus")
set_a

{'a', 'c', 'f', 'm', 'p', 's', 't', 'u'}

In [233]:
set_b = set("python")
set_b

{'h', 'n', 'o', 'p', 't', 'y'}

In [234]:
set_a | set_b

{'a', 'c', 'f', 'h', 'm', 'n', 'o', 'p', 's', 't', 'u', 'y'}

In [235]:
set_a & set_b

{'p', 't'}

In [236]:
set_a - set_b

{'a', 'c', 'f', 'm', 's', 'u'}

In [237]:
set_a ^ set_b

{'a', 'c', 'f', 'h', 'm', 'n', 'o', 's', 'u', 'y'}

In [241]:
a:int

In [243]:
a = None

In [245]:
a = 0

In [246]:
a

0

## 복습거리

In [ ]:
# q1. 다음 q1_1 ~ q1_4 에 대해 적절한 자료형 변환을 하세요
q1_1 = "123"
q1_2 = "3.0"
q1_3 = "True"
q1_4 = "[1,2,3]" # list로 표현되도록 하세요

In [ ]:
# q2. 다음 주어진 문자열에 대해 str 관련 기능을 활용해 주석의 형태로 변형하세요
q2_1 = "penpineapple" # => "cemcimeaccle"
q2_2 = "helloworld" # => "Hello, world!"
q2_3 = ",,..  fastcampus!!??  ^^"

In [ ]:
# q3. 다음 tuple을 list로 바꾸되, 중복을 제거하세요.
q3 = ("left", "left", "center", "right", "right", "right", "right")

In [ ]:
# q4. 빈 dictionary q4에 대해 다음과 같은 형태로 데이터를 삽입하고, 
#'key'와 'value'를 묶어 표현하세요(hint: some_dict.items())

# q4 = {
#     "item_id":19012200746,
#     "price":49000,
#     "currency":"KRW",
#     "quantity":12
# }

q4 = {}