In [ ]:
# Fizzbuzz 정답
for _i in range(1,100+1):
    print(_i)

In [ ]:
for _i in range(1,100+1):
    if _i % 3 == 0:
        print("fizz")
    else:
        print(_i)

In [ ]:
for _i in range(1,100+1):
    if _i % 15 == 0:
        print("fizzbuzz")
    elif _i % 3 == 0:
        print("fizz")
    elif _i % 5 == 0:
        print("buzz")
    else:
        print(_i)

In [ ]:
while True:
    print("hello")

In [ ]:
i = 0
while i < 11:
    print(i)
    i = i + 1

In [ ]:
name = ""
while name != "fool":
    name = input("What's your name? ")
    print("Hi, {}".format(name))

In [ ]:
import random

answer = random.randint(1, 100)
print(answer) # for debugging

trial = 5
while trial >= 1:
    guess = int(input("Type some number: "))
    
    if guess == answer:
        print("Correct!")
        break
    else:
        if guess > answer:
            print("Too High")
        else:
            print("Too Low")
        trial -= 1
        print("{} times left".format(trial))
        
if trial == 0:
    print("Game Over. Continue?")
else:
    print("You did it in {} time(s)".format(6-trial))

## MontyHall

In [3]:
import random


stay = 0
switch = 0
trial = 100000

for _i in range(1,trial+1):
    doors = [1,0,0]
    random.shuffle(doors)
    
    choice = random.randrange(3)
    guest = doors[choice]
    
    if guest == 1:
        stay += 1
    else:
        switch += 1

print("stay: {}({}%)".format(stay, stay/trial*100))
print("switch: {}({}%)".format(switch, switch/trial*100))

stay: 33660(33.660000000000004%)
switch: 66340(66.34%)

## function

In [4]:
def fastcampus(num):
    _result = num + 3
    return _result

In [5]:
fastcampus(3)

6

In [6]:
print("Hi")

Hi

In [7]:
def print_(text):
    _result = "Fast " + text + " Campus"
    return _result

In [8]:
print_("rapid")

'Fast rapid Campus'

In [9]:
def no_input():
    return "Hi"

In [10]:
no_input()

'Hi'

In [11]:
def no_output(text):
    print(text+"with no output")

In [12]:
no_output("some text")

some textwith no output

In [13]:
output = no_input()

In [14]:
output

'Hi'

In [15]:
outputs = no_output("some text")

some textwith no output

In [16]:
outputs

In [17]:
def no_io():
    print("This function has no input and output.")

In [18]:
no_io()

This function has no input and output.

In [19]:
def multiple_return(a):
    b = a + 10
    return a, b

In [20]:
multiple_return(7)

(7, 17)

In [21]:
def decider(a):
    if a == 10:
        print("This was not I want.")
        return
    b = a + 3
    return b

In [22]:
decider(10)

This was not I want.

In [23]:
decider(12)

15

In [29]:
def calculator(param1, param2, param3):
    # param2, param3 type check (not str)
    if type(param2) == str or type(param3) == str:
        print("Only Number is needed!!!!!!")
        return False
    # param1 : 연산자("+", "-")
    if param1 == "+":
        # 연산자가 "+" 일때
        _result = param2 + param3
    elif param1 == "-":
        # 연산자가 "-" 일때
        _result = param2 - param3
    else:
        print("your operator is broken!!!")
        return False
    
    return _result

In [30]:
calculator("+", 2, 3)

5

In [31]:
calculator("-", 2, 3)

-1

In [32]:
calculator("+", 2, "select")

Only Number is needed!!!!!!

False

In [33]:
calculator("*", 2, 3)

your operator is broken!!!

False

In [36]:
def is_leap(year):
    # 4년에 한 번 윤년
    if year % 4 == 0:
        result = "Leap year"
    # 100으로 나누어 떨어지면 평년
    # 400의 배수면 윤년
    # 나머지 모두는 평년
    else:
        result = "Plain year"
    return result

In [34]:
a = 15
a % 3 == 0 and a % 5 ==0

True

In [35]:
b = 5
a % 3 == 0 or a % 5 == 0

True

In [42]:
is_leap(2100)

'Leap year'

In [47]:
def is_leap(year):
    # 4년에 한 번 윤년
    if year % 4 == 0:
        if year % 100 == 0:
            # 100으로 나누어 떨어지면 평년
            if year % 400 == 0:
                # 400의 배수면 윤년
                result = "Leap year"
            else:
                result = "Plain year"
        else:
            result = "Leap year"
    
    # 나머지 모두는 평년
    else:
        result = "Plain year"
    return result

In [52]:
is_leap(2001)

'Plain year'

In [53]:
def is_leap(year):
    if year % 4 == 0:
        _result = "Leap year"
    else:
        _result = "Plain year"
    return _result

In [58]:
is_leap(2100)

'Leap year'

In [66]:
def is_leap(year=2000):
    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
        _result = "Leap year"
    else:
        _result = "Plain year"
    return _result, year

In [67]:
is_leap()

('Leap year', 2000)

In [71]:
def call_me(name="Fool", fool=True):
    print("Hi, {}".format(name))
    if fool == True:
        print("But, you are fool.")
    else:
        print("Oh, you are not fool.")

In [74]:
call_me("김패캠", False)

Hi, 김패캠
Oh, you are not fool.

In [77]:
print("Hi","again", sep='\n', end='blahblah')

Hi
againblahblah

In [80]:
def mul_sum(*args):
    _result = 0
    for _i in args:
        print(_i)
        _result += _i
    return _result

In [81]:
mul_sum(1,2,3,4,5)

1
2
3
4
5

15

In [82]:
def show_kwargs(**cats):
    print(cats)

In [83]:
show_kwargs(a=19, b="fastcampus")

{'a': 19, 'b': 'fastcampus'}

In [84]:
sign_up(김패캠, 4, seoul)
sign_up(age='4', name='김패캠', addr='seoul')

NameError: name 'sign_up' is not defined

In [87]:
#https://search.naver.com/search.naver?query=아우디&utm_source=naver

def url_maker(domain, **kwargs):
    url = "https://search." + domain + ".com/search." + domain + "?"
    for key in kwargs.keys():
        if key == "fastcampus":
            continue
        else:
            url = url + key + "=" + kwargs[key] + "&"
    
    return url

In [88]:
url_maker("google", query="아우디", utm_source="naver", fastcampus="utf-8")

'https://search.google.com/search.google?query=아우디&utm_source=naver&'

In [93]:
dict1 = {"a":1,"b":2,"c":3}
for key in dict1.keys():
    print(key, dict1[key])

a 1
b 2
c 3

In [101]:
def show_num(x):
    _result = x + 1
    return x + 1

In [111]:
x = show_num(20)

In [112]:
x

21

In [119]:
def glob_test():
    global globalglobal
    globalglobal = globalglobal + 1
    return globalglobal

In [120]:
glob_test()

TypeError: can only concatenate str (not "int") to str

In [118]:
globalglobal = "hi"

In [123]:
veriablea = 1

def sumsum(a):
    a = a + 1
    return a

In [124]:
veriablea = sumsum(veriablea)

In [125]:
veriablea

2

In [130]:
## Recursive

times = int(input("How many times? "))
def curse_beast(time):
    if time < 1:
        print("Recurse Complete!")
        return True
    else:
        print("Fusion! ({} times left)".format(time-1))
        return curse_beast(time-1)
    
curse_beast(times)

How many times? 1
Fusion! (0 times left)
Recurse Complete!

True

In [132]:
old_list = [1,2,3,4,5]

doubled_list = []
for i in old_list:
    doubled_list.append(i*2)

In [133]:
doubled_list

[2, 4, 6, 8, 10]

In [135]:
doubled_list = [i*2 for i in old_list]

In [136]:
doubled_list

[2, 4, 6, 8, 10]

In [ ]:
num_list = [i for i in range(100,200+1)]
num_list

In [138]:
old_list = [1,2,3,4,5]

doubled_list = []
for i in old_list:
    if i % 2 == 0:
        doubled_list.append(i*2)

In [140]:
del doubled_list

In [141]:
doubled_list = [i*2 for i in old_list if i % 2 == 0]

In [142]:
doubled_list

[4, 8]

In [144]:
old_list = [1,2,3,4,5]

doubled_list = []
for i in old_list:
    if i % 2 == 0:
        doubled_list.append(i*2)
    else:
        doubled_list.append(i**2)

In [145]:
doubled_list

[1, 4, 9, 8, 25]

In [146]:
doubled_list = [i*2 if i % 2 == 0 else i**2 for i in old_list]

In [147]:
doubled_list

[1, 4, 9, 8, 25]

In [ ]:
# 숙제 1: arguments 를 이용해 calculator() Develop 하기
# 숙제 2: 1 ~ 100까지 fizzbuzz를 list comprehension으로 완성하기