In [1]:
import requests
from bs4 import BeautifulSoup
#import lxml

In [2]:
tomato_uri = "https://www.rottentomatoes.com/"
response = requests.get(tomato_uri)
response

In [3]:
html = response.text
html[:400]

'<!DOCTYPE html>\n<html lang="en"\n      dit="ltr"\n      xmlns:fb="http://www.facebook.com/2008/fbml"\n      xmlns:og="http://opengraphprotocol.org/schema/">\n\n    <head prefix="og: http://ogp.me/ns# flixstertomatoes: http://ogp.me/ns/apps/flixstertomatoes#">\n\n        <!-- salt=lay-def-02-juRm -->\n        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />\n        <meta http-equiv="x-'

In [4]:
soup = BeautifulSoup(html, "html.parser") # "lxml"
table = soup.find("table", attrs={"id":"Top-Box-Office"})
table

<table class="movie_list" id="Top-Box-Office">
<tr class="">
<td class="left_col">
<a href="/m/how_to_train_your_dragon_the_hidden_world">
<span class="icon tiny certified_fresh"></span>
<span class="tMeterScore">92%</span>
</a>
</td>
<td class="middle_col">
<a href="/m/how_to_train_your_dragon_the_hidden_world">How to Train Your Dragon: The Hidden World</a>
</td>
<td class="right_col right">
<a href="/m/how_to_train_your_dragon_the_hidden_world">$55M</a>
</td>
</tr>
<tr class="">
<td class="left_col">
<a href="/m/alita_battle_angel">
<span class="icon tiny rotten"></span>
<span class="tMeterScore">59%</span>
</a>
</td>
<td class="middle_col">
<a href="/m/alita_battle_angel">Alita: Battle Angel</a>
</td>
<td class="right_col right">
<a href="/m/alita_battle_angel">$12.3M</a>
</td>
</tr>
<tr class="">
<td class="left_col">
<a href="/m/the_lego_movie_2_the_second_part">
<span class="icon tiny certified_fresh"></span>
<span class="tMeterScore">86%</span>
</a>
</td>
<td class="middle_col">
<a href="/m/the_lego_movie_2_the_second_part">The LEGO Movie 2: The Second Part</a>
</td>
<td class="right_col right">
<a href="/m/the_lego_movie_2_the_second_part">$9.8M</a>
</td>
</tr>
<tr class="">
<td class="left_col">
<a href="/m/fighting_with_my_family">
<span class="icon tiny certified_fresh"></span>
<span class="tMeterScore">91%</span>
</a>
</td>
<td class="middle_col">
<a href="/m/fighting_with_my_family">Fighting with My Family</a>
</td>
<td class="right_col right">
<a href="/m/fighting_with_my_family">$7.8M</a>
</td>
</tr>
<tr class="">
<td class="left_col">
<a href="/m/isnt_it_romantic_2019">
<span class="icon tiny fresh"></span>
<span class="tMeterScore">69%</span>
</a>
</td>
<td class="middle_col">
<a href="/m/isnt_it_romantic_2019">Isn't It Romantic</a>
</td>
<td class="right_col right">
<a href="/m/isnt_it_romantic_2019">$7.2M</a>
</td>
</tr>
<tr class="">
<td class="left_col">
<a href="/m/what_men_want_2019">
<span class="icon tiny rotten"></span>
<span class="tMeterScore">45%</span>
</a>
</td>
<td class="middle_col">
<a href="/m/what_men_want_2019">What Men Want</a>
</td>
<td class="right_col right">
<a href="/m/what_men_want_2019">$5.3M</a>
</td>
</tr>
<tr class="">
<td class="left_col">
<a href="/m/happy_death_day_2u">
<span class="icon tiny fresh"></span>
<span class="tMeterScore">67%</span>
</a>
</td>
<td class="middle_col">
<a href="/m/happy_death_day_2u">Happy Death Day 2U</a>
</td>
<td class="right_col right">
<a href="/m/happy_death_day_2u">$5M</a>
</td>
</tr>
<tr class="">
<td class="left_col">
<a href="/m/cold_pursuit">
<span class="icon tiny fresh"></span>
<span class="tMeterScore">70%</span>
</a>
</td>
<td class="middle_col">
<a href="/m/cold_pursuit">Cold Pursuit</a>
</td>
<td class="right_col right">
<a href="/m/cold_pursuit">$3.3M</a>
</td>
</tr>
<tr class="">
<td class="left_col">
<a href="/m/the_upside">
<span class="icon tiny rotten"></span>
<span class="tMeterScore">40%</span>
</a>
</td>
<td class="middle_col">
<a href="/m/the_upside">The Upside</a>
</td>
<td class="right_col right">
<a href="/m/the_upside">$3.1M</a>
</td>
</tr>
<tr class="">
<td class="left_col">
<a href="/m/run_the_race">
<span class="icon tiny rotten"></span>
<span class="tMeterScore">38%</span>
</a>
</td>
<td class="middle_col">
<a href="/m/run_the_race">Run the Race</a>
</td>
<td class="right_col right">
<a href="/m/run_the_race">$2.3M</a>
</td>
</tr>
</table>

In [5]:
all_tr = table.find_all("tr")
len(all_tr)

10

In [6]:
all_td = all_tr[0].find_all("td")
all_td

[<td class="left_col">
 <a href="/m/how_to_train_your_dragon_the_hidden_world">
 <span class="icon tiny certified_fresh"></span>
 <span class="tMeterScore">92%</span>
 </a>
 </td>, <td class="middle_col">
 <a href="/m/how_to_train_your_dragon_the_hidden_world">How to Train Your Dragon: The Hidden World</a>
 </td>, <td class="right_col right">
 <a href="/m/how_to_train_your_dragon_the_hidden_world">$55M</a>
 </td>]

In [10]:
int(all_td[0].find("span", attrs={"class":"tMeterScore"}).text.replace("%",""))

92

In [15]:
all_td[1].a["href"] #all_td[1].find("a")["href"]

'/m/how_to_train_your_dragon_the_hidden_world'

In [16]:
all_td[1].a.text

'How to Train Your Dragon: The Hidden World'

In [21]:
int(all_td[2].a.text.replace("$","").replace("M","000000"))

55000000

In [28]:
for tr in all_tr:
    all_td = tr.find_all("td")
    score = int(all_td[0].find("span", attrs={"class":"tMeterScore"}).text.replace("%",""))
    link = tomato_uri + all_td[1].a["href"][1:]
    title = all_td[1].a.text
    revenue = float(all_td[2].a.text.replace("$","").replace("M","")) * 1000000
    print(score,link,title,revenue, sep="\n", end="\n\n")

92
https://www.rottentomatoes.com/m/how_to_train_your_dragon_the_hidden_world
How to Train Your Dragon: The Hidden World
55000000.0

59
https://www.rottentomatoes.com/m/alita_battle_angel
Alita: Battle Angel
12300000.0

86
https://www.rottentomatoes.com/m/the_lego_movie_2_the_second_part
The LEGO Movie 2: The Second Part
9800000.0

91
https://www.rottentomatoes.com/m/fighting_with_my_family
Fighting with My Family
7800000.0

69
https://www.rottentomatoes.com/m/isnt_it_romantic_2019
Isn't It Romantic
7200000.0

45
https://www.rottentomatoes.com/m/what_men_want_2019
What Men Want
5300000.0

67
https://www.rottentomatoes.com/m/happy_death_day_2u
Happy Death Day 2U
5000000.0

70
https://www.rottentomatoes.com/m/cold_pursuit
Cold Pursuit
3300000.0

40
https://www.rottentomatoes.com/m/the_upside
The Upside
3100000.0

38
https://www.rottentomatoes.com/m/run_the_race
Run the Race
2300000.0

## Selenium

In [51]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options


# 일반적인 시작법
#ch_driver = webdriver.Chrome(webdriver_path)

# 사람처럼 보이는 시작법
chrome_options = Options()
chrome_options.add_argument("User-Agent=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36")

webdriver_path = "/Users/ulgoon/Documents/dev/chromedriver"
ch_driver = webdriver.Chrome(webdriver_path, chrome_options=chrome_options)

In [50]:
ch_driver.close()

In [52]:
ch_driver.get("https://www.google.com/")

In [53]:
ch_driver.get("https://www.naver.com/")

In [59]:
# PeaceNation List Scraping
ch_driver.get("https://cafe.naver.com/joonggonara")

In [60]:
input_id = "topLayerQueryInput"
input_area = ch_driver.find_element_by_id(input_id)

In [61]:
query = "아이패드"
input_area.send_keys(query)

In [57]:
# method1 엔터키 넘겨서 화면 전환
from selenium.webdriver.common.keys import Keys
input_id.send_keys(Keys.RETURN)

In [58]:
# method2 검색버튼 클릭하기
search_button_xpath = '//*[@id="cafe-search"]/form/button'
ch_driver.find_element_by_xpath(search_button_xpath).click()

In [62]:
# method3 js 실행하기
ch_driver.execute_script("searchBoard();")

In [63]:
ch_driver.find_element_by_class_name("result-board")

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"class name","selector":"result-board"}
  (Session info: chrome=72.0.3626.119)
  (Driver info: chromedriver=2.37.544337 (8c0344a12e552148c185f7d5117db1f28d6c9e85),platform=Mac OS X 10.14.3 x86_64)

In [66]:
result_frame = ch_driver.find_element_by_id("cafe_main")
ch_driver.switch_to.frame(result_frame)

In [87]:
for item in ch_driver.find_elements_by_xpath('//*[@id="main-area"]/div[5]/table/tbody/tr/td[1]/div[2]/div/a'):
    print(item.text)

[공식앱][초s급 아이패드프로10.5 256 wifi 실버 + 펜][500,000원],카톡사기주의요망 xng89
아이패드 6세대 128기가 팝니다. 펜슬포함
아이패드 A1395 16기가 택포 10만원에 팝니다.
[미개봉/공식스토어 구매 제품] 아이패드프로 11형 팝니다
아이패드 프로 2세대 10.5인치 256기가 로즈골드+애플팬슬 판매 합니다
대구 아이패드프로 10.5 골드 셀룰러 256
서울)아이패드프로 12.9 128G
아이패드 프로 2세대 10.5인치 64G wifi
아이패드 프로 3세대 12.9인치 256gb wifi + 애플 정품 커버 케이스 분양해요~ (둘다 미개봉)
ps4 리모트용 아이패드 판매합니다
아이패드 2017 5세대 셀룰러 와이파이 32g 스페이스 그레이 s급 판매합니다.
아이패드프로3 11인치 64기가 와이파이 실버 미개봉
천안 아이패드프로3세대 11인치256G스그,샐롤러,와이파이 A1934 미개봉 저렴히105만원에팝니다!
[1]
뉴 아이패드 6세대 128GB 실버 미개봉 신제품 판매합니다.
아이패드 11인치 64g wi-fi + 애플펜슬 2세대 + 정품팁
[1]

In [88]:
ch_driver.close()

In [ ]:
ch_driver.page_source # => 페이지 소스 스트링으로 받은 뒤 BS 시작

## Database

In [92]:
import sqlite3 as lite
import pandas as pd

In [93]:
db = lite.connect("./products.db")

In [95]:
query = """
SELECT *
FROM
    Orders
;
"""

pd.read_sql(query, db).head()

   OrderID  CustomerID  EmployeeID   OrderDate  ShipperID
0    10248          90           5  1996-07-04          3
1    10249          81           6  1996-07-05          1
2    10250          34           4  1996-07-08          2
3    10251          84           3  1996-07-08          1
4    10252          76           4  1996-07-09          2

In [97]:
query = """
SELECT *
FROM
    OrderDetails
;
"""
pd.read_sql(query, db).head()

   OrderDetailID  OrderID  ProductID  Quantity
0              1    10248         11        12
1              2    10248         42        10
2              3    10248         72         5
3              4    10249         14         9
4              5    10249         51        40

In [109]:
# O.OrderID, D.OrderDetailID, O.OrderDate, D.ProductID
query = """
SELECT count(*) "COUNT", sum(O.OrderID), avg(O.OrderID)
FROM
    (Orders O
    JOIN
        OrderDetails D
        ON
            O.OrderID = D.OrderID
    )
    WHERE
        O.OrderID > 10300
        AND`
        O.OrderID < 10400
    ORDER BY O.OrderID
;
"""
pd.read_sql(query, db)

   COUNT  sum(O.OrderID)  avg(O.OrderID)
0    263         2722130    10350.304183